body {
    background-image: url("/img/fondo-muelle.jpg");
    
    


}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    height: 200px;
}

a{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(186, 198, 207);
    padding: 100px;

}

a:hover{
    font-size: 40px;
    color: rgb(224, 157, 140);
}

.titulo{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(40, 53, 47, 0.849);
    padding-bottom: 50px;
}

.titulo:hover{
    color: white;
}

.container{
    display: grid;
    grid-template-areas: 
    "parrafo1 imagen"
    "parrafo2 parrafo2";


}

.parrafo1{
    grid-area: parrafo2;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagen-retrato{
    grid-area: imagen;
    width: 70%;
    
}
.parrafo2{
    grid-area: parrafo1;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer{
    display: flex;
    font-display: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
p{
    padding: 100px;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}